﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green-haze">
                            <i class="glyphicon-phone-alt font-green-haze"></i>
                            <span class="caption-subject bold uppercase"> Contact Us</span>
                        </div>
                        <div class="actions">

                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title=""> </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        Contact Us
                                    </div>
                                    <div class="panel-body">
                                        <p><b>Address</b> : 64 Scotch St</p>
                                        <p> Omagh</p>
                                        <p>BT61 7DF</p>

                                        <p><b>Telephone</b>: 07512748251</p>
                                        <p><b>Fax</b>: 07512748251</p>
                                        <p><b>Email</b>: WalkaboutPodiatry2018@gmail.com</p>

                                    </div>
                                </div>
                            </div>\
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->

    </div>
    <!-- END CONTENT BODY -->
</div>

