﻿
@{
    ViewBag.Title = "CreateBooking";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green-haze">
                            <i class="icon-user font-green-haze"></i>
                            <span class="caption-subject bold uppercase"> Create Booking</span>
                        </div>
                        <div class="actions">

                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title=""> </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form role="form" class="form-horizontal" action="@Url.Action("PostBooking","Home")" method="post">
                            <div class="form-body">
                                <div class="form-group form-md-line-input has-success">
                                    @if (ViewBag.Message != null)
                                    {
                                        <label class="col-md-offset-2 col-md-10 alert alert-success" for="form_control_1">@ViewBag.Message</label>

                                    }
                                    @if (ViewBag.Error != null)
                                    {
                                        <label class="col-md-offset-2 col-md-10 alert alert-danger" for="form_control_1">@ViewBag.Error</label>

                                    }
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label" for="form_control_1">Select a date for your appointment</label>
                                    <div class="col-md-8">
                                        <input type="date" name="Date" class="form-control" id="form_control_1" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label" for="form_control_1">Select a time for your appointment</label>
                                    <div class="col-md-8">
                                        <input type="time" name="Time" class="form-control" id="form_control_1" placeholder="12:00 am" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label" for="form_control_1">Select point best indicate your pain</label>
                                    <div class="col-md-8">
                                        <input type="radio" name="PainLevel"  id="form_control_1" value="1"> <b>1</b>
                                        <input type="radio" name="PainLevel"  id="form_control_1" value="2"> <b>2</b>
                                        <input type="radio" name="PainLevel" id="form_control_1" value="3" checked> <b>3</b>
                                        <input type="radio" name="PainLevel" id="form_control_1" value="4"> <b>4</b>
                                        <input type="radio" name="PainLevel" id="form_control_1" value="5"> <b>5</b>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label" for="form_control_1">Please insert any further comments</label>
                                    <div class="col-md-8">
                                        <textarea name="comment" class="form-control"></textarea>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" value="0" name="IsActive"/>
                            <input type="hidden" value="0" name="isAssigned"/>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="submit" class="btn blue">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->

    </div>
    <!-- END CONTENT BODY -->
</div>

