﻿
@{
    ViewBag.Title = "MyBookings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<BookingSystem.Models.Booking>
    @using BookingSystem.Helping_Class
@using BookingSystem.Models
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Walk About Booking system
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">All Users</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class=" font-dark"></i>
                            <span class="caption-subject bold uppercase">Latest Users</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>
                                <tr>
                                    <th>Reference</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Fore Name</th>
                                    <th> Sur Name</th>
                                    <th>Complete</th>
                                    <th>Cancel</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Date</td>
                                    <td>@item.Time</td>
                                    @if (item.Consumer.ForeName != null)
    {
                                <td>@item.Consumer.ForeName</td>
}
else
{
                                <td>Anonymous</td>}
                                    @if (item.Consumer.SurName != null)
    {
                                <td>@item.Consumer.SurName</td>
}
else
{
                                <td>Anonymous</td>}
                                    <td><a href="" data-target="#deleteModal" data-toggle="modal" onclick="deleteBooking('@item.Id')" class="btn btn-danger">Complete</a></td>
                                    <td><a href="" data-target="#assignModal" data-toggle="modal" onclick="assignBooking('@item.Id')" class="btn btn-info">Cancel</a></td>

                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <form action="@Url.Action("CancelnBooking","Home")">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Assign Booking</h4>
                </div>
                <div class="modal-body">
                    Are you sure you are going to cancel booking?
                    <input type="hidden" id="Bid" name="BookingId" value="" required />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <form action="@Url.Action("DeleteBooking","Home")">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Complete Boooking</h4>
                </div>
                <div class="modal-body">

                    <input type="hidden" id="comId" name="Id" />
                    <p>Are you sure you are going to complete Booking?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    function deleteBooking(Id) {
        $('#comId').val(Id);
    }
    function assignBooking(Id) {
        $('#Bid').val(Id);
    }
</script>

