﻿
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-lg-12 col-xs-12 col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase text-center">Services</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="scroller" style="height: 600px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            <h5><b>Routine Treatment -</b></h5>  Nail Cut and sort out simple pathology – callus, corns, simple treatment of verrucas<br />

                            <h5><b> Diabetic Assessment –</b></h5> A vascular and neurological assessment to determine the effects that diabetes has had on your feet

                            <h5> <b> Free Consultation –</b></h5> A free one to one with the podiatrist to review a concern and advice on best method of treatment

                            <h5>
                                <b>
                                    Dry Needling –
                                </b>
                            </h5> A leading way to resolve verrucas with the use of anaesthestics and a need to promote an immune response

                            <h5>
                                <b>
                                    Nail Surgery –
                                </b>
                            </h5> The removal of a full nail or portion that is curving into the skin and causing pain and infection

                            <h5> <b>Biomechanical Assessment –</b></h5> A review of a range of motions in your lower limbs, your muscle strength and flexibility.  Also includes a review of your walking style using a treadmill and a video programme.  This helps us decide if you need stretches, orthotics or a referral elsewhere.  Review takes place in 6 weeks after appointment.

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->

    </div>
    <!-- END CONTENT BODY -->
</div>

