﻿
@{
    ViewBag.Title = "Who";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-lg-12 col-xs-12 col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase text-center">Who are we?</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="scroller" style="height: 600px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img src="~/Content/dr.jpg" />
                                </div>
                                <div class="caption">
                                    <p><b>N: Dr Oisin McOscar</b></p>
                                    <p>Q: BSc (Hons) Podiatry</p>
                                    <p>Q: BSc (Hons) Podiatry</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img src="~/Content/dr1.png" />
                                </div>
                                <div class="caption">
                                    <p><b>N: Dr Darren Lynch</b></p>
                                    <p>Q: BSc (Hons) Podiatry</p>
                                    <p>H: Football</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img src="~/Content/dr2.png" />
                                </div>
                                <div class="caption">
                                    <p><b>N: Dr Sarah Williams</b></p>
                                    <p>Q: BSc (Hons) Podiatry</p>
                                    <p>H: Baking</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->

    </div>
    <!-- END CONTENT BODY -->
</div>
    </div>
